In [16]:
import requests 
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

In [17]:
csv_url = "https://data.sfgov.org/api/views/nuek-vuh3/rows.csv?accessType=DOWNLOAD"
req = requests.get(csv_url)
if req.status_code == 200:
    print('Success!')
elif req.status_code == 404:
    print('Not Found.')

Success!

In [18]:
url_content = req.content
csv_file = open('mySidewalk.csv', 'wb')

csv_file.write(url_content)
csv_file.close()

In [24]:
df = pd.read_csv('Fire_Department_Calls_for_Service.csv',low_memory=False)

In [32]:
df['Month'] = df['Response DtTm'].str.split('/', 1, expand=True)

In [33]:
df.head()

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods,Month
0,211220229,54,21052265,Medical Incident,05/02/2021,05/01/2021,05/02/2021 02:52:22 AM,05/02/2021 02:54:09 AM,05/02/2021 02:54:17 AM,05/02/2021 02:54:22 AM,...,1,MEDIC,2.0,9,11,Outer Mission,211220229-54,POINT (-122.44916885747516 37.71245377965039),28.0,05
1,213150159,T13,21138532,Alarms,11/11/2021,11/10/2021,11/11/2021 01:45:25 AM,11/11/2021 01:46:46 AM,11/11/2021 01:47:12 AM,11/11/2021 01:49:56 AM,...,1,TRUCK,1.0,1,3,Financial District/South Beach,213150159-T13,POINT (-122.40481437114843 37.789761426544466),8.0,11
2,210690030,T03,21030278,Alarms,03/10/2021,03/09/2021,03/10/2021 12:16:03 AM,03/10/2021 12:18:36 AM,03/10/2021 12:19:01 AM,03/10/2021 12:20:15 AM,...,1,TRUCK,3.0,2,6,Tenderloin,210690030-T03,POINT (-122.41697932641094 37.7770834641944),36.0,03
3,210391607,E19,21017645,Alarms,02/08/2021,02/08/2021,02/08/2021 01:00:14 PM,02/08/2021 01:01:36 PM,02/08/2021 01:01:40 PM,02/08/2021 01:03:21 PM,...,1,ENGINE,1.0,8,7,Lakeshore,210391607-E19,POINT (-122.48045074945836 37.7190118676788),16.0,02
4,212173268,B06,21093161,Alarms,08/05/2021,08/05/2021,08/05/2021 09:36:42 PM,08/05/2021 09:38:01 PM,08/05/2021 09:38:39 PM,08/05/2021 09:40:09 PM,...,1,CHIEF,1.0,6,8,Mission,212173268-B06,POINT (-122.4209570965718 37.75449478673656),20.0,08

In [34]:
#Convert Received DtTm from object to Date time
df['Response DtTm'] = pd.to_datetime(df['Response DtTm'])

In [35]:
df12 = df[(df['Response DtTm'] > '2021-5-12') & (df['Response DtTm'] <= '2022-5-12')]

In [36]:
#Confirm that the correct dates were queried 
df12.sort_values(['Response DtTm'])

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods,Month
256617,211320002,87,21056549,Medical Incident,05/11/2021,05/11/2021,05/11/2021 11:59:08 PM,05/12/2021 12:01:39 AM,05/12/2021 12:02:22 AM,2021-05-12 00:02:24,...,1,MEDIC,1.0,2,6,South of Market,211320002-87,POINT (-122.4128894154611 37.77600992107871),34.0,05
264654,211320003,T01,21056550,Other,05/12/2021,05/11/2021,05/12/2021 12:04:13 AM,05/12/2021 12:04:13 AM,05/12/2021 12:04:33 AM,2021-05-12 00:05:01,...,1,TRUCK,1.0,2,6,South of Market,211320003-T01,POINT (-122.4119382448114 37.77394503695362),34.0,05
180881,211320006,T11,21056551,Alarms,05/12/2021,05/11/2021,05/12/2021 12:05:36 AM,05/12/2021 12:07:57 AM,05/12/2021 12:08:22 AM,2021-05-12 00:10:30,...,1,TRUCK,2.0,6,9,Mission,211320006-T11,POINT (-122.42025356452329 37.75368162954969),20.0,05
264652,211320006,E11,21056551,Alarms,05/12/2021,05/11/2021,05/12/2021 12:05:36 AM,05/12/2021 12:07:57 AM,05/12/2021 12:08:22 AM,2021-05-12 00:10:31,...,1,ENGINE,1.0,6,9,Mission,211320006-E11,POINT (-122.42025356452329 37.75368162954969),20.0,05
264653,211320006,B06,21056551,Alarms,05/12/2021,05/11/2021,05/12/2021 12:05:36 AM,05/12/2021 12:07:57 AM,05/12/2021 12:08:22 AM,2021-05-12 00:10:34,...,1,CHIEF,3.0,6,9,Mission,211320006-B06,POINT (-122.42025356452329 37.75368162954969),20.0,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453214,221313410,84,22060118,Medical Incident,05/11/2022,05/11/2022,05/11/2022 11:54:36 PM,05/11/2022 11:54:36 PM,05/11/2022 11:54:56 PM,2022-05-11 23:55:42,...,1,MEDIC,2.0,2,6,Tenderloin,221313410-84,POINT (-122.41714561341081 37.78144749400239),36.0,05
452501,221313408,B09,22060117,Alarms,05/11/2022,05/11/2022,05/11/2022 11:52:06 PM,05/11/2022 11:53:43 PM,05/11/2022 11:53:52 PM,2022-05-11 23:56:03,...,1,CHIEF,2.0,9,7,West of Twin Peaks,221313408-B09,POINT (-122.4585692175101 37.73461524738954),41.0,05
453099,221313414,91,22060119,Medical Incident,05/11/2022,05/11/2022,05/11/2022 11:53:17 PM,05/11/2022 11:55:50 PM,05/11/2022 11:56:02 PM,2022-05-11 23:56:12,...,1,MEDIC,1.0,3,3,Tenderloin,221313414-91,POINT (-122.40778514612029 37.78434553646289),36.0,05
452776,221313408,T15,22060117,Alarms,05/11/2022,05/11/2022,05/11/2022 11:52:06 PM,05/11/2022 11:53:43 PM,05/11/2022 11:53:52 PM,2022-05-11 23:56:38,...,1,TRUCK,3.0,9,7,West of Twin Peaks,221313408-T15,POINT (-122.4585692175101 37.73461524738954),41.0,05
453447,221313410,E03,22060118,Medical Incident,05/11/2022,05/11/2022,05/11/2022 11:54:36 PM,05/11/2022 11:54:36 PM,05/11/2022 11:54:56 PM,2022-05-11 23:56:49,...,1,ENGINE,1.0,2,6,Tenderloin,221313410-E03,POINT (-122.41714561341081 37.78144749400239),36.0,05

In [38]:
#Isolate the columns needed for the analysis
ResponseBat = df12[["Battalion","Month","Response DtTm"]]
ResponseBat

       Battalion Month       Response DtTm
1            B01    11 2021-11-11 01:49:56
4            B06    08 2021-08-05 21:40:09
5            B06    08 2021-08-05 21:39:53
6            B06    08 2021-08-05 21:39:46
7            B07    08 2021-08-05 21:28:08
...          ...   ...                 ...
497758       B07    03 2022-03-26 02:47:18
497760       B10    03 2022-03-26 00:14:37
497761       B01    03 2022-03-25 20:23:37
497762       B06    03 2022-03-25 17:28:53
497763       B04    03 2022-03-25 16:35:51

[296221 rows x 3 columns]

In [39]:
#Calculate the 90th percentile for each battalion per month
Response90 = ResponseBat.groupby(["Battalion","Month"]).quantile(0.9)

In [40]:
Response90

                          Response DtTm
Battalion Month
B01       01    2022-01-28 13:49:30.000
          02    2022-02-25 15:11:29.000
          03    2022-03-28 10:30:11.300
          04    2022-04-29 05:48:53.300
          05    2022-05-08 17:10:01.400
...                                 ...
B99       08    2021-08-29 03:52:31.500
          09    2021-09-25 15:20:39.800
          10    2021-10-28 11:40:20.300
          11    2021-11-27 16:40:48.800
          12    2021-12-29 03:50:06.000

[132 rows x 1 columns]

In [41]:
#Export to CSV
Response90.to_csv('90percentile.csv')