In [2]:
import os
import pandas as pd
import arcpy
import arcgis

In [3]:
arcpy.env.workspace = r"C:\Users\liammartin\Documents\ArcGIS\Projects\PythonPractice\PythonPractice.gdb"                                                                              
                                                                                                                                                                     
GDB_dir = r"C:\Users\liammartin\Documents\ArcGIS\Projects\PythonPractice\PythonPractice.gdb"                                                                               
fc_name = "medianpoints"                                                                                                                          
                                                                                                                                                                     
fc = os.path.join(GDB_dir, fc_name)
print(fc)

C:\Users\liammartin\Documents\ArcGIS\Projects\PythonPractice\PythonPractice.gdb\medianpoints

In [5]:
sdf = pd.DataFrame.spatial.from_featureclass(fc)
sdf.head(10)

   OBJECTID  ...                                              SHAPE
0         1  ...  {"x": -104.99239776999997, "y": 39.77275282100...
1         2  ...  {"x": -111.89510693799997, "y": 40.75885413100...
2         3  ...  {"x": -94.63833401999995, "y": 39.115351948000...
3         4  ...  {"x": -93.26874886699994, "y": 44.977176399000...
4         5  ...  {"x": -87.62605803999998, "y": 41.881913955000...
5         6  ...  {"x": -90.20087812599996, "y": 38.594909590000...
6         7  ...  {"x": -97.73359646399996, "y": 30.267831864000...
7         8  ...  {"x": -122.44091260999994, "y": 37.77315849900...
8         9  ...  {"x": -118.27737374699996, "y": 34.02049518200...
9        10  ...  {"x": -117.126922219, "y": 32.70569343500006, ...

[10 rows x 6 columns]

In [7]:
fields = ['measure','value']

In [8]:
for x in fields:
    sdf.loc[sdf[x].isnull(),x] = sdf[x].median()
sdf

   OBJECTID  ...                                              SHAPE
0         1  ...  {"x": -104.99239776999997, "y": 39.77275282100...
1         2  ...  {"x": -111.89510693799997, "y": 40.75885413100...
2         3  ...  {"x": -94.63833401999995, "y": 39.115351948000...
3         4  ...  {"x": -93.26874886699994, "y": 44.977176399000...
4         5  ...  {"x": -87.62605803999998, "y": 41.881913955000...
5         6  ...  {"x": -90.20087812599996, "y": 38.594909590000...
6         7  ...  {"x": -97.73359646399996, "y": 30.267831864000...
7         8  ...  {"x": -122.44091260999994, "y": 37.77315849900...
8         9  ...  {"x": -118.27737374699996, "y": 34.02049518200...
9        10  ...  {"x": -117.126922219, "y": 32.70569343500006, ...

[10 rows x 6 columns]

In [9]:
sdf.columns = map(str.upper, sdf.columns)
sdf

   OBJECTID  ...                                              SHAPE
0         1  ...  {"x": -104.99239776999997, "y": 39.77275282100...
1         2  ...  {"x": -111.89510693799997, "y": 40.75885413100...
2         3  ...  {"x": -94.63833401999995, "y": 39.115351948000...
3         4  ...  {"x": -93.26874886699994, "y": 44.977176399000...
4         5  ...  {"x": -87.62605803999998, "y": 41.881913955000...
5         6  ...  {"x": -90.20087812599996, "y": 38.594909590000...
6         7  ...  {"x": -97.73359646399996, "y": 30.267831864000...
7         8  ...  {"x": -122.44091260999994, "y": 37.77315849900...
8         9  ...  {"x": -118.27737374699996, "y": 34.02049518200...
9        10  ...  {"x": -117.126922219, "y": 32.70569343500006, ...

[10 rows x 6 columns]

In [10]:
out_fc = os.path.join(GDB_dir, fc_name + '__median')                                                                                                                    
sdf.spatial.to_featureclass(out_fc)

'C:\\Users\\liammartin\\Documents\\ArcGIS\\Projects\\PythonPractice\\PythonPractice.gdb\\medianpoints__median'